/*-- scss:defaults --*/

@font-face {
  font-family: 'Gabarito';
  font-style: normal;
  font-weight: 400;
  src: local(''), local(''),
       url('fonts/gabarito-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gabarito-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/gabarito-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/gabarito-v4-latin-regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Gabarito';
  font-style: normal;
  font-weight: 500;
  src: local(''), local(''),
       url('fonts/gabarito-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gabarito-v4-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/gabarito-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/gabarito-v4-latin-500.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Gabarito';
  font-style: normal;
  font-weight: 600;
  src: local(''), local(''),
       url('fonts/gabarito-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gabarito-v4-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/gabarito-v4-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/gabarito-v4-latin-600.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Gabarito';
  font-style: normal;
  font-weight: 700;
  src: local(''), local(''),
       url('fonts/gabarito-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gabarito-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/gabarito-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/gabarito-v4-latin-700.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Gabarito';
  font-style: normal;
  font-weight: 800;
  src: local(''), local(''),
       url('fonts/gabarito-v4-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gabarito-v4-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/gabarito-v4-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/gabarito-v4-latin-800.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Gabarito';
  font-style: normal;
  font-weight: 900;
  src: local(''), local(''),
       url('fonts/gabarito-v4-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gabarito-v4-latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/gabarito-v4-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/gabarito-v4-latin-900.svg') format('svg'); /* Legacy iOS */
}
